---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import { getRelativeLocaleUrl } from "astro:i18n";

// main layout
import BaseLayout from "@layouts/BaseLayout.astro";

// components
import Button from "@components/Button/Button.astro";
import LightningAnimation from "@components/Canvas/LightningAnimation.astro";
import Badge from "@components/Badge/Badge.astro";

// utils
import { getLocaleFromUrl } from "@js/localeUtils";

const currLocale = getLocaleFromUrl(Astro.url);
---

<BaseLayout title="404" description="Error 404 page not found." noindex={true}>
	<section class="mt-20 md:py-20">
		<div class="site-container">
			<div class="dark bg-dark-bg grid items-center rounded-xl md:grid-cols-2">
				<div
					class="-m-6 mx-auto w-full max-w-[250px] px-4 md:m-0 md:max-w-full"
					data-aos="fade-in"
					data-aos-delay="1"
				>
					<LightningAnimation />
				</div>
				<div class="w-full px-4 py-8">
					<div class="text-center md:max-w-xl md:text-left">
						<Badge>Error 404</Badge>
						<h1 class="h1 tracking-tight md:text-5xl">Oh no! Error 404</h1>
						<p class="description mb-6 text-lg md:text-xl">
							Something went wrong, so this page is broken.
						</p>
						<div class="relative z-10 flex flex-wrap justify-center md:justify-start">
							<Button variant="primary" href={getRelativeLocaleUrl(currLocale, "/")}
								>Go back to homepage</Button
							>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</BaseLayout>
