---
import { getRelativeLocaleUrl } from "astro:i18n";

// main layout
import BaseLayout from "@layouts/BaseLayout.astro";

// components
import Button from "@components/Button/Button.astro";
import Badge from "@components/Badge/Badge.astro";

// utils
import { getLocaleFromUrl } from "@js/localeUtils";

const currLocale = getLocaleFromUrl(Astro.url);
---

<BaseLayout
	title="Amplify Overview"
	description="See all the pages and sections included with the Amplify theme"
>
	<section class="site-container py-36">
		<div class="mr-auto max-w-4xl">
			<Badge>Overview</Badge>
			<h1 class="h1 -mt-3">The elements of Amplify</h1>
			<div class="xs:grid-cols-2 mx-auto mt-10 grid gap-4 md:grid-cols-3">
				<!-- Landing pages -->
				<div class="flex flex-col">
					<h3 class="overview-heading">Landing Pages</h3>
					<a class="overview-link" href={getRelativeLocaleUrl(currLocale, "/")}>Landing 1</a>
					<a class="overview-link" href={getRelativeLocaleUrl(currLocale, "/examples/landing2")}
						>Landing 2</a
					>
					<a class="overview-link" href={getRelativeLocaleUrl(currLocale, "/examples/landing3")}
						>Landing 3</a
					>
				</div>

				<!-- Blog pages -->
				<div class="flex flex-col">
					<h3 class="overview-heading">Blog</h3>
					<a
						class="overview-link"
						href={getRelativeLocaleUrl(currLocale, "/blog/tsconfig-paths-setup")}>Blog Post 1</a
					>
					<a class="overview-link" href={getRelativeLocaleUrl(currLocale, "/examples/blog-post-2")}
						>Blog Post 2</a
					>
					<a class="overview-link" href={getRelativeLocaleUrl(currLocale, "/categories")}
						>Categories</a
					>
					<a class="overview-link" href={getRelativeLocaleUrl(currLocale, "/blog")}>Blog Index 1</a>
					<a class="overview-link" href={getRelativeLocaleUrl(currLocale, "/examples/blog-index-2")}
						>Blog Index 2</a
					>
				</div>

				<!-- Sections -->
				<div class="flex flex-col">
					<h3 class="overview-heading">Sections</h3>
					<a class="overview-link" href={getRelativeLocaleUrl(currLocale, "/examples/features")}
						>Feature Sections</a
					>
					<a class="overview-link" href={getRelativeLocaleUrl(currLocale, "/examples/pricing")}
						>Pricing Sections</a
					>
					<a
						class="overview-link"
						href={getRelativeLocaleUrl(currLocale, "/examples/testimonials-faq")}
						>Testimonial and FAQ Sections</a
					>
					<a
						class="overview-link"
						href={getRelativeLocaleUrl(currLocale, "/examples/hero-sections")}>Hero Sections</a
					>
				</div>

				<!-- Forms -->
				<div class="flex flex-col">
					<h3 class="overview-heading">Forms</h3>

					<a class="overview-link" href={getRelativeLocaleUrl(currLocale, "/contact")}>Contact</a>
					<a class="overview-link" href={getRelativeLocaleUrl(currLocale, "/login")}>Login</a>
					<a class="overview-link" href={getRelativeLocaleUrl(currLocale, "/signup")}>Signup</a>
					<a class="overview-link" href={getRelativeLocaleUrl(currLocale, "/password-reset")}
						>Password Reset</a
					>
				</div>

				<!-- Other -->
				<div class="flex flex-col">
					<h3 class="overview-heading">Other Pages</h3>
					<a class="overview-link" href={getRelativeLocaleUrl(currLocale, "/elements")}>MDX Pages</a
					>
					<a class="overview-link" href={getRelativeLocaleUrl(currLocale, "/a-propos")}>About</a>
					<a class="overview-link" href={getRelativeLocaleUrl(currLocale, "/privacy-policy")}
						>Privacy Policy</a
					>
					<a class="overview-link" href={getRelativeLocaleUrl(currLocale, "/terms")}>Terms of Use</a
					>
					<a class="overview-link" href="/not-a-link/">404</a>
					<a
						class="overview-link"
						href={getRelativeLocaleUrl(currLocale, "/rss.xml")}
						target="_blank"
						rel="noopener noreferrer">RSS Feed</a
					>
				</div>

				<!-- Widgets -->
				<div class="flex flex-col">
					<h3 class="overview-heading">Widgets</h3>
					<!-- CookieConsent component should be used in BaseLayout.astro if desired -->
					<button id="test-consent-demo-btn" class="overview-link text-left">Cookie Consent</button>
				</div>
			</div>
		</div>

		<!-- CookieConsent component should be used in BaseLayout.astro if desired -->
		<div id="test-banner" class="fixed inset-x-6 bottom-6 z-50 hidden justify-center">
			<div
				class="border-base-200 bg-base-100 dark:border-base-700 dark:bg-base-900 flex flex-wrap items-center justify-center gap-x-6 gap-y-2 rounded-md border px-5 py-3"
			>
				<div class="text-center">
					<p class="description text-sm font-medium lg:text-base">
						We use cookies to improve your experience on this site. To learn more, see our <a
							href={getRelativeLocaleUrl(currLocale, "/privacy-policy")}
							class="text-base-700 decoration-primary-500 hover:text-primary-500 dark:text-base-300 dark:hover:text-primary-500 underline transition"
							>Privacy Policy</a
						>.
					</p>
				</div>
				<div class="mx-auto flex gap-2">
					<Button variant="primary" type="button">Accept</Button>
					<Button variant="ghost" type="button">Decline</Button>
				</div>
			</div>
		</div>
	</section>
</BaseLayout>

<style>
	@import "tailwindcss/theme" theme(reference);
	@import "@/styles/tailwind-theme.css" theme(reference);

	.overview-heading {
		@apply dark:text-base-300 mt-6 mb-4 text-xl font-medium md:text-2xl;
	}
	.overview-link {
		@apply text-base-800 hover:text-base-600 dark:text-base-400 dark:hover:text-base-300 my-0.5 tracking-tight transition;
	}
</style>

<script>
	//Script purely for demo of the CookieConsent component. Use the actual <CookieConsent /> component in BaseLayout.astro if desired.
	function cookieConsentSetup() {
		const cookieBanner = document.getElementById("test-banner");
		const acceptButton = document.querySelector("#test-banner button:first-of-type");
		const declineButton = document.querySelector("#test-banner button:last-of-type");
		const cookieConsentDemoBtn = document.getElementById("test-consent-demo-btn");

		cookieConsentDemoBtn?.addEventListener("click", () => {
			cookieBanner?.classList.toggle("hidden");
			cookieBanner?.classList.toggle("flex");
		});

		// If the user clicks the accept button, hide the banner and set a cookie
		acceptButton?.addEventListener("click", () => {
			console.log("cookies accepted example");
			cookieBanner?.classList.toggle("hidden");
			cookieBanner?.classList.toggle("flex");
		});

		// If the user clicks the decline button, hide the banner and set a cookie
		declineButton?.addEventListener("click", () => {
			console.log("cookies declined example");
			cookieBanner?.classList.toggle("hidden");
			cookieBanner?.classList.toggle("flex");
		});
	}

	// runs on initial page load
	cookieConsentSetup();

	// runs on view transitions navigation
	document.addEventListener("astro:after-swap", cookieConsentSetup);
</script>
