---
/**
 * * CTA centered card with background image - Ready to Ride Smarter
 */

import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import { getRelativeLocaleUrl } from "astro:i18n";

// components
import Button from "@components/Button/Button.astro";

// utils
import { getLocaleFromUrl } from "@js/localeUtils";

// take a look at the actual image to see recommended dimensions
import bgImage from "@images/storm-bg-crop.webp";

const currLocale = getLocaleFromUrl(Astro.url);
---

<section id="cta-center" class="dark bg-dark-bg py-16 md:py-20">
	<div class="site-container mx-auto px-4">
		<div class="flex flex-col items-center gap-9 max-w-2xl mx-auto text-center">
			<!-- Header Section -->
			<div class="flex flex-col items-center gap-3">
				<h2 class="text-white text-[40px] leading-[1.36] font-semibold text-center">
					Ready to Ride Smarter?
				</h2>
				<p class="text-white text-base leading-[1.36] text-center">
					Be the first to try HeyGo and unlock a smarter, safer way to snowboard.
				</p>
			</div>

			<!-- CTA Button -->
			<Button 
				variant="primary" 
				class="bg-white/90 text-black hover:bg-white rounded-full px-9 py-4 text-2xl font-semibold flex items-center gap-3"
				href={getRelativeLocaleUrl(currLocale, "/contact")}
			>
				Contact us
				<Icon
				name="arrow-right"
				class="mr-1.5 -ml-1 size-3 opacity-70"
				aria-hidden="true"
			/>
			</Button>
		</div>
	</div>
</section>
