---
/**
 * * CTA centered card with background image
 */

import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

// components
import Button from "@components/Button/Button.astro";

// take a look at the actual image to see recommended dimensions
import bgImage from "@images/storm-bg-crop.webp";
---

<section id="cta-center" class="site-container overflow-hidden py-16 md:py-20">
	<div
		class="dark border-base-800 bg-base-900 dark:bg-base-950 relative overflow-hidden rounded-2xl border px-8 py-16 md:px-10 md:py-24"
	>
		<!-- bg image -->
		<div class="absolute inset-0 h-full overflow-hidden">
			<Image
				src={bgImage}
				alt="background"
				loading="lazy"
				width={1170}
				densities={[1, 1.5, 2]}
				class="h-full w-full transform object-cover brightness-50"
				aria-hidden="true"
			/>
		</div>

		<div class="relative">
			<div class="mx-auto max-w-3xl text-center">
				<h2 class="h2 text-base-50">Make your next website incredible</h2>
				<p class="text-base-200 mx-auto mb-16 max-w-xl tracking-tight md:text-lg">
					A template for the next killer SaaS. Multiple pages and sections, blog, i18n, animations,
					CMS - all ready to go.
				</p>
				<div class="relative flex justify-center">
					<Button
						variant="outline"
						href="https://cosmicthemes.com/themes/amplify/"
						target="_blank"
						arrow="right"
						rel="noopener noreferrer"
						class="dark:border-base-100"
					>
						Get Amplify
					</Button>
				</div>
			</div>
		</div>
	</div>
</section>
