---
import { Icon } from "astro-icon/components";
---

<div
	class="border-base-200 bg-base-50 text-base-800 dark:border-base-800 dark:bg-base-950 dark:text-base-200 mr-auto flex items-center rounded-md border align-middle"
>
	<Icon name="amplify/amplify-logo" class="text-primary-500 size-10 p-2" aria-hidden="true" />
</div>
