---
import { Icon } from "astro-icon/components";
import { getRelativeLocaleUrl } from "astro:i18n";

// components
import Button from "@components/Button/Button.astro";

// utils
import { getLocaleFromUrl } from "@js/localeUtils";

// data
const currLocale = getLocaleFromUrl(Astro.url);
---

<div class="w-full">
	<div class="mb-12">
		<h1 class="h2 text-base-900 dark:text-base-200 mb-2 text-xl">Create your free account</h1>
		<p class="text-base-600 dark:text-base-400 tracking-tight">
			<span class="description">Already have an account?</span>
			<a
				class="text-primary-500 hover:text-primary-600 whitespace-nowrap transition duration-200"
				href={getRelativeLocaleUrl(currLocale, "/login")}>Log in</a
			>
		</p>
	</div>
	<div class="mb-6">
		<form class="-m-2 flex flex-wrap" id="signup__form" name="signup__form">
			<div class="w-full p-2">
				<label class="block">
					<input
						class="form__input w-full"
						id="signup__name"
						type="text"
						placeholder="Your Name"
						autofocus
						required
					/>
				</label>
			</div>
			<div class="w-full p-2">
				<label class="block">
					<input
						class="form__input w-full"
						id="signup__email"
						type="email"
						placeholder="Email Address"
						required
					/>
				</label>
			</div>
			<div class="w-full p-2">
				<label class="relative block">
					<input
						class="form__input w-full md:pr-40"
						id="signup__password"
						type="password"
						placeholder="Password"
						required
					/>
				</label>
			</div>
			<div class="w-full p-2">
				<Button variant="primary" type="submit" class="w-full rounded-md before:rounded-md"
					>Create Account</Button
				>
				<div class="-mx-2.5 my-2 flex items-center">
					<div class="flex-1 p-2.5">
						<div class="bg-base-300 dark:bg-base-700 h-px"></div>
					</div>
					<div class="auto p-2.5">
						<span class="text-base-600 dark:text-base-400 text-sm tracking-tight">OR</span>
					</div>
					<div class="flex-1 p-2.5">
						<div class="bg-base-300 dark:bg-base-700 h-px"></div>
					</div>
				</div>

				<!-- Google sign in button -->
				<a
					class="bg-base-100 hover:bg-base-200 focus:ring-primary-300 flex w-full justify-center rounded-md px-5 py-2.5 font-medium tracking-tight transition duration-200 focus:ring-4 focus:outline-none"
					href="#"
				>
					<Icon name="amplify/google" aria-hidden="true" class="mr-3 size-6 shrink-0" />
					<span class="text-base-900 xs:block hidden">Sign up with Google</span><span
						class="text-base-900 xs:hidden">Google</span
					>
				</a>
			</div>
		</form>
	</div>
</div>
